Lenguaje de Marcas/Examen 23-02-23/examen_JimenezSantiago_Adrian.dtd

<!ELEMENT inventario (objeto)>
<!ELEMENT objeto (mesa|ordenador)>
<!ATTLIST objeto codigo CDATA #REQUIRED>
<!ELEMENT mesa (tipo?, localizacion)>
<!ELEMENT tipo (#PCDATA)>
<!ELEMENT localizacion (#PCDATA)>
<!ELEMENT ordenador (procesador?, memoria?, discoduro?)>
<!ELEMENT procesador (#PCDATA)>
<!ATTLIST procesador fabricante CDATA >
<!ELEMENT memoria (#PCDATA)>
<!ATTLIST memoria valor CDATA #REQUIRED>
<!ELEMENT discoduro (#PCDATA)>
